services:
  basekit:
    image: agroecology/open_agbot:latest
    container_name: open_agbot_basekit
    privileged: true
    network_mode: host
    restart: unless-stopped
    group_add:
      - dialout
    devices:
      - "/dev/ttyACM0:/dev/ttyTHS0"
      - "/dev/ttyACM1:/dev/ttyACM1"
    volumes:
      - /dev:/dev
      # We map the local config so we can modify it easily
      - ../basekit_launch/config:/workspace/install/basekit_launch/share/basekit_launch/config
    environment:
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - PYTHONUNBUFFERED=1
      # THESE FLAGS TELL THE SYSTEM TO SKIP JETSON-ONLY HARDWARE:
      - LAUNCH_CAMERA=false
      - USE_LIZARD=true
      - HW_PLATFORM=laptop
